.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(56, 255, 255);
}
.headerdiv {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logonav {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 60%;
}
ul {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section1 {
    width: 90%;
    margin: 0 auto;
}
.section1img {
    width: 100%;
}
.h1 {
    padding-top: 138px;
    font-size: 40px;
}
.section2 {
    width: 100%;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
.section2 div {
    max-width: 483px;
    width: 100%;
    height: 563px;
    border: 1px solid black;
}
.section2img {
    width: 100%;
}
.section2 h2 {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 30px;
} 
.p1 {
    padding-top: 33px;
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
}
.p2 {
    float: right;
    padding-top: 73px;
    font-size: 24px;
    padding-right: 13px;
}
.middleh {
    padding-top: 138px;
    font-size: 40px; 
    width: 90%;
    margin: 0 auto;
}
.section3 {
    width: 100%;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
.section3 div {
    max-width: 483px;
    width: 100%;
    height: 563px;
    border: 1px solid black;
}
.section3 img {
    width: 100%;
}
.section3 h2 {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 30px;
}
.footer {
    flex-wrap: wrap;
    padding-top: 68px;
    width: 100%;
    height: 207px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.addres1 {
    display: none;
}
h3 {
    font-size: 20px;
    color: white;
}
.footer p {
    color: white;
    font-size: 13px;
}
.insta {
    padding-left:30px;
}


@media (max-width:480px) {
    nav {
        display: none;
    }
    .footer {
        padding-top: 20px;
        height: 247px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
    }
    .footerlogo {
    display: none;
    }
    .addres1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .addres2 {
        display: none;
    }
    .footer div {
        justify-content: center;
        
    }

}
